<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EventLogName" value="Application" />
    <add key="EventLogSourceName" value="STF Service" />
    <add key="LogFileNamePath" value="c:\STF\stfService.log" /> 
    <add key="TimerInterval" value="6000" />
    <!--5min=1000*60*5 (ms)-->
    <add key="ServiceMonitorApp" value="STFServiceMonitor" />
    <add key="InstrumentConnectionTimeOut" value="2" />
    <!-- in seconds -->
    <add key="ServiceId" value="01"/>
    <!--RunOnly = 0, RunAndProcess = 1, RunAndReport = 2-->
    <add key="RunMode" value="0"/>

    <add key="STF_JsonDirectoryPath" value="C:\STF\JSON_FILES" />
    <add key="STF_JsonDirectoryUserName" value="Administrator"/>
    <add key="STF_JsonDirectoryPassword" value="EAAAADPgF34rG6DLOy6CLjyaWVjJguZxdeT8kkAHycxWzWrS"/>
    <add key="STF_JsonDirectoryDomain" value=""/>

    <add key="EmpowerJSONpwEncrypted" value="false" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <!--ALL,DEBUG,INFO,WARN,ERROR,FATAL,OFF-->
      <appender-ref ref="file" />
    </root>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFilePath}" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>